.boxItem_Y_1{
    //height:auto;
    //align-self: stretch;
    margin: 10px ;
    padding: 10px;
    border: 1px solid black;
}

.BIEmpty{
    flex-grow: 1;
    border: 1px solid black;
    padding: 10px;
    //margin: 10px 0px 10px 10px;
}

